.filter-holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 162px;
    margin-left: 162px;
    align-items: start;

    & #filter {
        flex: start;

        & h2 {
            margin: 0;
            padding: 8px 4px 8px 14px;
            font-size: 16px;
            line-height: 19.2px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        & img {
            padding-right: 10.5px;
        }

        & #filter-options {
            list-style: none;
            display: flex;
            flex-direction: row;
            column-gap: 24px;
            border: 1px solid #DBDBDB;
            border-radius: 10px;
            padding: 6px;


            & #price-range,
            #region-select,
            #area-range,
            #rooms-select {
                display: none;
                background-color: #FFFFFF;
                z-index: 2;
            }

            .price,
            .region,
            .area,
            .rooms {

                & .price-label,
                .region-label,
                .area-label,
                .rooms-label {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    border-radius: 6px;

                    &:hover {
                        background-color: #F3F3F3;
                    }

                    & #price-up-arrow,
                    #region-up-arrow,
                    #area-up-arrow,
                    #rooms-up-arrow {
                        display: none;

                        &.active {
                            display: block;
                        }
                    }

                    & #price-down-arrow,
                    #region-down-arrow,
                    #area-down-arrow,
                    #rooms-down-arrow {
                        display: block;

                        &.active {
                            display: none;
                        }
                    }
                }

                & #region-select.active,
                #price-range.active,
                #area-range.active,
                #rooms-select.active {
                    display: block;
                }

                & .select-btn {
                    color: #FFFFFF;
                    background-color: #F93B1D;
                    border: none;
                    border-radius: 10px;
                    padding: 8px 14px 8px 14px;
                    cursor: pointer;

                    &:hover {
                        background-color: #DF3014;
                    }
                }

                & #region-select {
                    position: absolute;
                    border: 1px solid #DBDBDB;
                    border-radius: 10px;
                    padding: 24px 28px 24px 24px;
                    margin-top: 10px;
                    margin-left: -6px;

                    & h2 {
                        text-align: start;
                        padding: 0;
                        padding-bottom: 24px;
                    }

                    & ul {
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        row-gap: 16px;
                        column-gap: 50px;
                        list-style: none;
                        padding: 0;
                        padding-bottom: 32px;

                        & li {
                            text-align: start;
                            display: flex;
                            flex-direction: row;
                            column-gap: 8px;

                            input[type="checkbox"] {
                                width: 20px;
                                height: 20px;
                                accent-color: #45A849;
                                border: 1px solid #DBDBDB;
                            }

                        }
                    }

                    & .select-region-btn-holder {
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                    }
                }

                & #price-range,
                #area-range,
                #rooms-select {
                    position: absolute;
                    border: 1px solid #DBDBDB;
                    border-radius: 10px;
                    padding: 24px 28px 24px 24px;
                    margin-top: 10px;
                    margin-left: -6px;

                    h2 {
                        font-size: 16px;
                        text-align: start;
                        padding: 0px 24px 24px 0px;
                    }

                    & #price-presets,
                    #area-presets {
                        display: flex;
                        flex-direction: row;
                        column-gap: 15px;

                        & h3 {
                            font-size: 14px;
                            text-align: start;
                            margin-top: 24px;
                            margin-bottom: 16px;
                        }

                        & .area-input-wrapper {
                            &::after {
                                content: "მ²";
                            }
                        }

                        & .price-input-wrapper {
                            &::after {
                                content: "₾";
                            }
                        }

                        & .price-input-wrapper,
                        .area-input-wrapper {
                            position: relative;

                            &::after {
                                position: absolute;
                                right: 10px;
                                top: 50%;
                                transform: translateY(-50%);
                                pointer-events: none;
                                opacity: 90%;
                            }

                            & input {
                                outline: none;
                                padding: 10px;
                                border: 1px solid #808A93;
                                border-radius: 6px;

                                &:focus {
                                    outline: auto;
                                }

                                &.error-input {
                                    border: 1px solid #F93B1D;
                                }
                            }
                        }

                        & #price-error,
                        #area-error {
                            opacity: 0%;
                            color: #F93B1D;
                            font-weight: 400;
                            font-size: 14px;
                            margin: 0;
                            position: absolute;

                            &.active {
                                opacity: 100%;
                            }
                        }

                        & ul {
                            padding: 0;
                            list-style: none;
                            text-align: start;
                            display: flex;
                            flex-direction: column;
                            row-gap: 8px;
                            margin-bottom: 32px;

                            & .min-price-preset,
                            .max-price-preset,
                            .min-area-preset,
                            .max-area-preset {
                                cursor: pointer;
                                font-size: 14px;
                            }
                        }
                    }


                    & .price-range-btn-holder,
                    .area-range-btn-holder,
                    .rooms-select-btn-holder {
                        display: flex;
                        flex-direction: row;
                        justify-content: end;
                        align-items: center;

                        & #price-range-btn,
                        #area-range-btn,
                        #rooms-select-btn {
                            height: 33px;
                            font-size: 14px;
                            font-weight: 500;
                        }
                    }

                    & #rooms-input {
                        height: 42px;
                        width: 41px;
                        background-color: #FFFFFF;
                        border: 1px solid #808A93;
                        color: #808A93;
                        border-radius: 6px;
                        padding: 10px 12.5px;
                        text-align: center;
                        cursor: pointer;
                        margin-bottom: 32px;

                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }

                    }
                }

                & #rooms-select {
                    text-align: start;
                }
            }
        }
    }

    & #filter-buttons {
        flex: end;
        display: flex;
        flex-direction: row;
        margin-top: 16px;
        column-gap: 16px;

        & #add-listing,
        #add-agent {
            line-height: 19.2px;
            border: 1px solid #F93B1D;
            border-radius: 10px;
            cursor: pointer;
        }

        & #add-listing {
            background-color: #F93B1D;
            color: #FFFFFF;

            &:hover {
                background-color: #DF3014;
            }
        }

        & #add-agent {
            color: #F93B1D;

            &:hover {
                background-color: #F93B1D;
                color: #FFFFFF;
            }
        }

        & .button {
            padding: 10px 16px 10px 16px;
            display: flex;
            flex-direction: row;
            column-gap: 7px;
            align-items: center;
            height: fit-content;

            & h2 {
                margin: 0;
                font-size: 16px;
                line-height: 19.2px;
                font-weight: 500;
            }

            & svg {
                height: 13px;
                width: 13px;
                margin-right: 1.5px;
            }
        }
    }
}