#listings-holder {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px 162px 20px 162px;

    & #not-found-msg {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
        color: #021526CC;
        position: absolute;
    }

    & .listing-card {
        width: 384px;
        height: 455px;
        border: 1px solid #DBDBDB;
        border-radius: 14px;
        position: relative;
        cursor: pointer;

        & .thumbnail {
            width: 100%;
            height: 307px;

            & img {
                border-top-left-radius: 14px;
                border-top-right-radius: 14px;
                width: 100%;
                height: 100%;
            }
        }

        & p {
            margin: 0;
        }

        & .description-holder {
            display: flex;
            flex-direction: column;
            row-gap: 6.5px;
            padding: 22px 25px 20px 25px;
            text-align: start;

            & .pricepoint {
                font-size: 28px;
                font-weight: 700;
                color: #021526;
            }

            & .address {
                color: #021526B2;
            }
        }

        & .parameters-holder {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 32px;
            padding: 0px 145px 22px 25px;
            color: #021526B2;

            & div {
                display: flex;
                flex-direction: row;
                column-gap: 5px;
            }
        }

        & .is-rental {
            position: absolute;
            top: 23px;
            left: 23px;
            color: #FFFFFF;
            font-size: 12px;
            line-height: 14.4px;
            background-color: rgba(2, 21, 38, 0.5);
            padding: 6px 18px;
            border-radius: 15px;
        }
    }
}