#listing-page {
    display: flex;
    flex-direction: column;
    padding-left: 162px;
    padding-right: 167px;

    & .delete-modal-overlay {
        position: fixed;
        z-index: 3;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;  

        & .delete-modal-content {
            width: 623px;
            height: 222px;
            background: white;
            padding: 6px 12px 0px 12px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;


            & .cancel-x-button-holder {
                display: flex;
                flex-direction: row;
                justify-content: end;
            }

            & h2 {
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                color: #2D3648;
                margin: 0;
            }

            & .modal-buttons {
                display: flex;
                flex-direction: row;
                column-gap: 15px;
                justify-content: center;
                margin-top: 35px;
                margin-bottom: 58px;

                & .cancel-button, .delete-button {
                    padding: 10px 16px 10px 16px;
                    border-radius: 10px;
                    border: 1px solid #F93B1D;
                }

                & .cancel-button {
                    color: #F93B1D;
                    background-color: #FFFFFF;

                    &:hover {
                        color: #FFFFFF;
                        background-color: #F93B1D;
                    }
                }

                & .delete-button {
                    color: #FFFFFF;
                    background-color: #F93B1D;

                    &:hover {
                        background-color: #DF3014;
                    }
                }
            }
           
        }
    }

    & #back-button-holder {
        display: flex;
        flex-direction: row;
        justify-items: start;
        margin-top: 64px;
        margin-bottom: 29px;
    }

    & #listing-info-holder {
        display: flex;
        flex-direction: column;

        & #listing-info {
            display: flex;
            flex-direction: row;
            column-gap: 68px;

            & .picture {
                width: 839px;
                height: 670px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: end;

                & #publication-date {
                    margin-top: 10px;
                    margin-bottom: 14px;
                    color: #808A93;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19.2px;
                }

                & .is-rental {
                    position: absolute;
                    top: 41px;
                    left: 41px;
                    color: #FFFFFF;
                    font-size: 12px;
                    line-height: 14.4px;
                    background-color: rgba(2, 21, 38, 0.5);
                    padding: 6px 18px;
                    border-radius: 15px;
                }

                & img {
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                }
            }

            & .info {
                display: flex;
                flex-direction: column;
                padding: 30px 0px 0px 0px;

                & h2, h3, h4, p {
                    margin: 0;
                }

                & .price {
                    font-size: 48px;
                    font-weight: 700;
                    margin-bottom: 24px;
                    line-height: 57.6px;
                    color: #021526;
                }

                & .metric {
                    display: flex;
                    flex-direction: row;
                    margin-bottom: 16px;
                    align-items: center;
                    column-gap: 7px;
                    
                    & h2 {
                        font-size: 24px;
                        font-weight: 400;
                        line-height: 28.8px;
                        color: #808A93;
                    }
                }

                & .description {
                    margin-top: 24px;
                    margin-bottom: 50px;
                    text-align: start;
                    font-size: 16px;
                    line-height: 26px;
                    font-weight: 400;
                    color: #808A93;
                }

                & #agent-info {
                    display: flex;
                    flex-direction: column;
                    padding: 24px 20px;
                    border: 1px solid #DBDBDB;
                    border-radius: 8px;
                    height: 124px;
                    width: 463px;

                    & .thumb-name-holder {
                        display: flex;
                        flex-direction: row;
                        column-gap: 14px;
                        align-items: center;

                        & .thumb-holder {
                            width: 72px;
                            height: 72px;
        
                            & img {
                                width: 100%;
                                height: 100%;
                                border-radius: 100px;
                            }
                        }

                        & .name-holder {
                            text-align: start;

                            & .name {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19.2px;
                                color: #021526;
                                margin-bottom: 4px;
                            }

                            & .agent {
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16.8px;
                                color: #676E76;
                            }
                        }
                    }

                    & .contacts {
                        margin-top: 16px;
                        text-align: start;

                        & .agent-contact {
                            display: flex;
                            flex-direction: row;
                            column-gap: 5px;
                            align-items: center;

                            & p {
                                margin-bottom: 4px;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16.8px;
                                color: #808A93;
                            }
                        }
                    }
                }

                & #delete-listing {
                    background-color: #FFFFFF;
                    border: 1px solid #676E76;
                    border-radius: 8px;
                    width: 131px;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 14.4px;
                    color: #676E76;
                    padding: 10px;
                    margin-top: 20px;
                }
            }
        }
    }

    & #recommendations-holder {
        & h1 {
            margin: 0;
            margin-top: 67px;
            margin-bottom: 52px;
            text-align: start;
            color: #021526;
            font-size: 32px;
            line-height: 38.4px;
            font-weight: 500;
        }
    }
}