#tag-bar-holder {
    & ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        column-gap: 8px;
        padding: 0;

        & li {
            border: 1px solid #DBDBDB;
            border-radius: 43px;
            padding: 6px 10px 6px 10px;
            display: flex;
            flex-direction: row;
            column-gap: 4px;
            align-items: center;

            & h4 {
                margin: 0;
            }

            & svg {
                cursor: pointer;
            }

            & svg:hover {
                fill: #021526;
            }
        }
    }
}